@model Assignment08.Models.Student

@{
    ViewBag.Title = "LoggedIn";
}

<h2>You are logged in - @Model.Login</h2>

@Html.ActionLink("Logout", "LoggedOut", "Login", null, new { @class = "btn btn-primary" })

