@model Assignment08.Models.Student

@{
    ViewBag.Title = "Logout";
}

    <h2>@Model.Name, do you want to log out?</h2>

@Html.ActionLink("Yes", "LoggedOut", "Login", null, new { @class = "btn btn-primary" })

