@{
    float x, y, z;
    x = 4;
    y = 5.2f;
    z = x + y;
}

<!DOCTYPE html>
<html>
<head>
    <title>Demo1</title>
</head>
<body>
    If X = @x
    <br />
    and Y = @y
    <br />
    then Z = @z
</body>
</html>
