
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CalculateSum</title>
</head>
<body>
    <h2>CalculateSum</h2>
    <div>
        The Sum of @ViewData["Value1"] and @ViewData["Value2"] is: @ViewData["ResultingSum"]
    </div>
</body>
</html>
